<!DOCTYPE html>
<html ng-app="exampleApp">
  <head>
    <title> ng app </title>
    <meta charset="utf-8">
    <link href="app.css" rel="stylesheet" />
  </head>
  <body ng-controller="mainController as vm" ng-cloak>
    <!--  -->
    <h1> Hello World! </h1>
    <p> One way binding: {{vm.message}} </p>
    <hr />
    <label> double binding is great </label>
    <input ng-model="vm.coolStuff"/>
    <hr />
    {{vm.coolStuff}}
    <hr/>
    <h3> menu options </h3>
    <!-- <button ng-click="vm.options = 'fruit'">just fruit</button>
    <button ng-click="vm.options = 'all'">all</button> -->
    <input ng-model="vm.searchTerm"/>
    <h3> Grocery List </h3>
    <ul>
            <!-- <li ng-repeat="item in vm.groceries | filter: {type: 'fruit'}"> -->
      <li ng-repeat="item in vm.groceries | filter: vm.searchTerm">
        {{item.name}}:
        {{item.price}}
        <!-- <button ng-click="vm.deleteThis(item)" ></button>
        <button ng-click="vm.updateThis(item)" ></button> -->
      <img ng-src="{{item.image}}"/>
      </li>
    </ul>
    <!-- <hr />
    <button ng-click="vm.printStuff()">push me</button> -->
    <!--  -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
